.cart {
    border-radius: 24px;
    background-color: #f6f6fa;
}
.cart__container {
    display: flex;
    padding: 24px;
    justify-content: center;
    margin: 0 auto; 
     max-width: 1400px;
    align-items: stretch;
}
@media screen and (max-width: 1010px) {
.cart__container{
   flex-direction: column;
   padding:15px 16px
}
} 
@media screen and (max-width: 695px) {
.cart__container{
   padding:15px 0 24px;
}
} 