.checkbox-label {
    position: relative;
    display: flex;
    cursor: pointer;
    gap: 11px;
}
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox-fake {
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: solid 1px #9e9ea0;
    border-radius: 7px;
    background-color: inherit;
    transition: 0.1s;
    box-sizing: border-box;
}
.checkbox-fake::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-image: url("../images/checkbox.svg");
    width: 12.48px;
    height: 10.16px;
    opacity: 0;
    transition: 0.1s;
}
.checkbox:checked + .checkbox-fake::before {
    opacity: 1;
}
.checkbox:checked + .checkbox-fake {
    border: none;
    background-color: #cb11ab;
}
.checkbox-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}