.delivery {
    margin-bottom: 16px;
}

.delivery__point {
    display: flex;
    margin-bottom: 16px;
}
.delivery__key {
    color: var(--text-black, #000);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    width: 153px;
    margin-right: 32px;
}
.delivery__point-address {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.delivery__point-description {
    display: flex;
    gap: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.delivery__price {
    display: flex;
    margin-bottom: 16px;
}

.delivery__date {
    display: flex;
    margin-bottom: 16px;
}
.delivery__value-img {
    display: flex;
    gap: 8px;
}
.delivery__img {
    width: 40px;
    height: 56px;
}
.delivery__item {
    position: relative;
}
.delivery__img-count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 6px;
    top: -6px;
    right: -5px;
    border-radius: 16px;
    background-color: #f55123;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
}
.delivery__back {
    position: relative;
    display: flex;
    gap: 8px;
}
.delivery__back-text {
    position: relative;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 3px;
}
.delivery__back-free {
    position: relative;
    cursor: pointer;
    color: #0cb477;
}
.delivery__back-info {
    position: absolute;
    z-index: 10;
    display: none;
    top: 24px;
    left: 225px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    height: 32px;
    width: 256px;
    border-radius: 8px;
    padding: 10px 16px 14px 16px;
    background: var(--background-white, #fff);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
        0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.delivery__back-info-total {
    top: 40px;
    left: 0;
}
.delivery__back-free::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: "";
    height: 2px;
    width: 100%;
    background-image: url("../../images/underline-green.svg");
}
@media screen and (max-width: 695px) {
    .delivery__point {
        flex-direction: column;
    }
    .delivery__point-description {
        margin-top: 4px;
    }
    .delivery__price {
        flex-direction: column;
    }
    .delivery__date {
        flex-direction: column;
        gap: 12px;
        margin-bottom: 17px;
    }
    .delivery__back {
        padding: 0 8px;
    }
}
@media screen and (max-width: 400px) {
    .delivery__back-info {
        top: 39px;
        left: 0;
    }
}
