.popup {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
   transition: opacity 0.3s ease, transform 0.3s ease;
}
.popup-opened{
   display: flex;
}
.popup__container {
   position: relative;
   display: flex;
   flex-direction: column;
    height: 408px;
    width: 400px;
    box-sizing:border-box;
    background: white;
    padding: 16px 22px 24px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}
.popup__header {
    display: flex;
    justify-content: space-between;
}
.popup__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin-bottom: 13px;
    margin-left: 2px;
}
.popup__button-close {
    border: none;
    background-color: inherit;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.popup__button {
   cursor:pointer;
    display: flex;
    justify-content: center;
    align-items:center;
    border: none;
    width: 164px;
    height: 44px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color:#fff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
    background: var(--system-magenta, #cb11ab);
    margin-top: auto;
    margin-left: 2px;
}
.popup__radio-fake{
   border-radius:50%;
   width: 16px;
   height: 16px;
}
.popup__radio-fake::before{
   border-radius:50%;
   background-image:none;
   border-radius:50%;
   background-color:#fff;
   width: 6px;
   height: 6px;
}
.popup__radio-container{
   align-self: start;
   padding-top: 5px;
}
@media screen and (max-width: 695px) {
   .popup__container{
      width: 100%;
      height: 100%;
      border-radius:0;
      padding:16px;
   }
   .popup__title{
font-size: 20px;
font-weight: 600;
line-height: 28px; 
letter-spacing: -0.2px;
   }
   .popup__button{
  width: 100%;
   }
}
