.product__checkbox-container {
    display: flex;
    height: 96px;
    align-items: center;
}
.product {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product.delete {
    display: none;
}
.product__left {
    display: flex;
    margin-top: 12px;
}
.product__img {
    width: 72px;
    height: 96px;
    margin: 0 16px 0 12px;
}
.product__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
    max-width: 275px;
    color: var(--text-black, #000);
}
.product__params {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-bottom: 8px;
}
.product__param {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.product__storage {
    color: #9797af;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 8px 0 4px;
}
.product__company {
    display: flex;
    position: relative;
    gap: 6px;
    margin-bottom: 4px;
}
.product__company-text {
    color: #9797af;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.product__company-modal {
    position: absolute;
    top: 23px;
    left: 5px;
    padding: 11px 16px 13px;
    display: none;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    width: 280px;
    height: 104px;
    background-color: #fff;
    border-radius: 8px;
    z-index: 10;
    fill: var(--light-background-white, #fff);
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3))
        drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
}
.product__company-modal-active {
    display: flex;
}
.product__company-title {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}
.product__company-ogrn {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.product__company-address {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.product__right {
    display: flex;
    margin-top: 9px;
    gap: 16px;
}

/*------------product-input-------------*/
.product__quantity-input {
    display: flex;
    width: 100px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 3px;
    margin-bottom: 8px;
}
.product__quantity-btn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    width: 28px;
    height: 44px;
    font-size: 20px;
    letter-spacing: -0.2px;
}
.product__quantity-btn:disabled {
    color: rgba(0, 0, 0, 0.2);
}

.product__quantity-field {
    padding: 0;
    -moz-appearance: textfield;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    width: 44px;
    border: none;
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.product__quantity-field::-webkit-inner-spin-button,
.product__quantity-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.product__quantity-field:focus-visible {
    outline: none;
}
/*-----product__buttons-----*/
.product__remains {
    color: var(--dark-system-coral, #ff3b30);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.product__buttons {
    display: flex;

    gap: 16px;
    margin-top: 8px;
}
.product__buttons-inactive {
    margin-top: 3px;
}
.product__like {
    background-image: url("../../images/like.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    margin-left: auto;
}
.product__like:hover {
    background-image: url("../../images/like-active.svg");
}
.product__like.active {
    background-image: url("../../images/like-active.svg");
}

.product__delete {
    background-image: url("../../images/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.product__delete:hover {
    background-image: url("../../images/delete-active.svg");
}
/*-------------product-price--------------*/
.product__prices {
    width: 110px;
    text-align: end;
}
.product__active-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
}
.product__long-price {
    font-size: 16px;
}
.product__old-price {
    position: relative;
    display: inline-block;
    font-size: 13px;
    color: #9797af;
    line-height: 16px;
    text-align: end;
    word-spacing: -1px;
}
.product__old-price::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #9797af;
    top: 9px;
    left: 0;
}
.product__old-price::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-image: url("../../images/underline.svg");
    top: 17px;
    left: 0;
}
.product__sale {
    position: absolute;
    z-index: 10;
    display: none;
    gap: 8px;
    flex-direction: column;
    width: 239px;
    height: 64px;
    box-sizing: border-box;
    top: 24px;
    left: -165px;
    padding: 11px 16px 13px 16px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
        0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background: var(--light-background-nav-bar, #fff);
}
.product__sale-active {
    display: flex;
}
.product__sale-content {
    display: flex;
    justify-content: space-between;
}
.product__sale-key {
    color: var(--light-system-gray, #a0a0a4);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.product__sale-value {
    color: var(--light-system-text, #000);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.product__currency {
    font-size: 16px;
}
.product__prices-mobile {
    display: none;
}
/*-------товары отсутствуют------*/
.cart-main__miss-text,
.cart-main__miss-count {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.product__img-inactive {
    margin-left: 0;
    filter: grayscale(100%);
}
.product__title-inactive {
    color: #9797af;
    max-width: 309px;
}
.product__params-inactive {
    color: #9797af;
}

@media screen and (max-width: 695px) {
    .product {
        flex-direction: column;
    }
    .product__title {
        font-size: 14px;
        line-height: 20px;
        max-width: 100%;
        /* max-height: 40px; */
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .product__img {
        margin-left: 0;
        width: 80px;
        height: 106px;
    }
    .product__checkbox-container {
        position: relative;
        height: auto;
    }
    .product__checkbox-label {
        position: absolute;
        top: 4px;
        left: 4px;
    }
    .product__size {
        display: none;
    }
    .product__company {
        display: none;
    }
    .product__prices {
        display: none;
    }
    .product__prices-mobile {
        display: flex;
        gap: 5px;
        align-items: center;
    }
    .product__active-price-mobile {
        font-size: 16px;
        line-height: 24px;
    }
    .product__currency-mobile {
        font-size: 16px;
    }
    .product__old-price {
        line-height: 17px;
    }
    .product__old-price::before {
        height: 1px;
    }
    .product__right {
        margin-top: 12px;
    }
    .product__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 16px;
    }
    .product__quantity-input {
        width: 80px;
        margin: 0;
    }
    .product__quantity-field {
        height: 32px;
        width: 32px;
        font-size: 14px;
        line-height: 20px;
    }
    .product__quantity-btn {
        height: 27px;
        width: 24px;
    }
    .product__remains {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100px;
    }
    .product__buttons {
        gap: 24px;
        margin-right: 12px;
    }
    .product__count {
        display: flex;
        gap: 16px;
    }
    .cart-main__inactive .product__actions {
        justify-content: end;
    }
    .product__buttons-inactive {
        margin-top: 4px;
        margin-right: 7px;
    }
}

@media screen and (max-width: 313px) {
    .product__prices-mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
}
