.recipient {
    margin-bottom: 36px;
}
.recipient__inputs {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
.recipient__top {
    display: flex;
    gap: 24px;
}
.recipient__bottom {
    display: flex;
    gap: 24px;
}
.recipient__input {
    width: 100%;
    border: none;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.recipient__input::placeholder {
    color: #9797af;
}
.recipient__input-error {
    color: #f55123;
    border-bottom: 1px solid #f55123;
}
.recipient__input-error::placeholder{
    color:#f55123;
}
.recipient__container {
    display: flex;
    flex-direction: column;
}
.recipient__label {
    height: 16px;
    color: #9797af;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 2px;
}
.recipient__error {
    margin-top:4px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: #f55123;
}
.recipient__top .recipient__container {
    width: 338px;
}
.recipient__bottom .recipient__container {
    width: 217px;
}
.recipient__inn-info {
    color: var(--text-black, #000);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.recipient__input:focus-visible{
    outline: none;
}
@media screen and (max-width: 695px) {
    .recipient__inputs{
        gap:15px;
    }
.recipient__top{
    flex-direction: column;
}
.recipient__bottom{
    flex-direction: column;
    gap:11px;
}
.recipient__top{
    gap:16px;
}
.recipient__label{
    height: 13px;
}
.recipient__error{
    margin-top: 3px;
    height: 16px;
}
.recipient__top .recipient__container{
    width: 100%;
}
.recipient__bottom .recipient__container{
    width: 100%;
}
.recipient{
    margin-bottom: 16px;
}
.recipient__error-inn{
    height: 10px;
}
}