.total {
    align-self: flex-start;
    margin-left: 32px;
    max-width: 429px;
    min-width: 280px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
        0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.total__price {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
    margin-bottom: 9px;
}
.total__detail {
    display: flex;
    justify-content: space-between;
}
.total__delivery {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.total__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}
.total__title-value {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
}
.total__value-currency {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
}
.total__address {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 4px;
}
.total__date {
    position: relative;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #cb11ab;
    width: 47px;
    margin-bottom: 12px;
}
.total__date::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: "";
    height: 2px;
    width: 100%;
    background-image: url("../../images/underline2.svg");
}
.total__back {
    padding: 8px 8px 12px 8px;
    border-radius: 8px;
    background: var(--background-smoky, #f6f6fa);
    margin-bottom: 24px;
}
.total__card {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}
.total__card-number{
    font-size: 13px;
line-height: 24px;
}

.total__payment {
    display: flex;
    flex-direction: column;
    padding: 8px 8px 12px 8px;
    border-radius: 8px;
    background: var(--background-smoky, #f6f6fa);
    margin-bottom: 24px;
}
.total__payment-text {
    margin-top:8px;
    font-size: 13px;
    line-height: 16px;
}
.total__checkbox-text{
       font-size: 13px;
    line-height: 22px;
}
.total__submit {
    height: 44px;
    border-radius: 8px;
    background: var(--system-magenta, #cb11ab);
    border: none;
    padding: 0px 32px 5px 32px;
    box-sizing: border-box;
    color: var(--system-white, #fff);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    cursor:pointer;
}
.total__agreement {
    display: flex;
    margin-top: 12px;
    gap: 8px;
}
.total__agreement-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.total__agreement-mark {
    width: 13;
    height: 24px;
}
.total__agreement-underline {
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}
.total__delivery-img{
    cursor: pointer;
}
@media screen and (max-width: 1010px) {
.total{
    max-width: none;
    margin-left: 0;
    background-color:#F6F6FA;
    border:none;
    box-shadow: none;
    padding: 8px 16px 16px;
}
} 
@media screen and (max-width: 695px) {
.total__delivery-title{
    display: none;
}
.total__address{
    display: none;
}
.total__date{
    display: none;
}
.total__delivery{
    margin-top:16px;
}
.total__back{
    background-color:#F0ECF4;
    margin-bottom: 16px;
}
.total__pay-title{
    display: none;
}
.total__card{
    display: none;
}
.total__payment{
    background-color:#F0ECF4;
}
.total__price{
    font-size: 20px;
line-height: 28px;
letter-spacing: -0.2px;
}
.total__title-value{
    font-size: 20px;
line-height: 28px;
letter-spacing: -0.2px; 
}
}